@import "mediaQuery";

.container {
  display: flex;
  justify-content: space-between;
  width: 20em;
  .social {
    display: flex;
    justify-content: space-evenly;
  }

  img {
    margin-bottom: 0 !important;
  }
  a {
    color: #000000;
  }

  @include mq(mobile) {
    flex-direction: row-reverse;
    margin-top: 1em;
    justify-content: space-around;
    img {
      width: 60px !important;
    }
  }
}
