@import "mediaQuery";

.content {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #d3d3d3;
  padding-bottom: 2em;
  margin-top: 5em;
  &.forContent {
    padding-bottom: 1em;
  }

  &.forProfile{
    flex-direction: column;
    :first-child{
      margin-bottom: 20px;
    }
  }

  @include mq(mobile) {
    flex-direction: column;
    margin-top: 1em;
    padding: 10px;
  }
}
